@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  font-family: "Outfit", sans-serif;
  background-image: url(./bg.jpg);
  object-fit: cover;
}

header {
  width: 100%;
}

header img{
  width: 200px;
  margin-top: 40px;
  margin-left: 60px;
}


section div{
  width: 500px;
  margin-inline: auto;
}
#questionSection h1{
  color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
}
#questionSection span{
  font-weight: 700;
}

#answerBox{
  color: white;
  margin-top: 5rem;
  text-align: center;
}

#answerBox div{
  width: 200px;
  height: 40px ;
  display: inline-block;
  margin-inline: auto;
  margin: 10px;
  border: solid 1px white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.134);
  margin: 15px;
}
#answerBox div:hover{
background: linear-gradient(0deg, rgba(112, 37, 120, 0.355) 0%, rgba(226,43,208,0.23) 67%);
}
#answerBox p{
  text-align: center;
  padding: 5px;
}

#questionCounter{
  color: white;
  text-align: center;
  margin-top: 10rem;
}
#questionCounter span{
  color: rgb(198, 43, 226);
}

.txtFeedbackSection h2{
  color: white;
  margin-top: 80px;
  text-align: center;
  font-size: 2.5rem;
}
.txtFeedbackSection p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 30px;
  width: 600px;
  margin-inline: auto;
}

.ratingStars img{
  margin-top: 20px;
}
.commentArea p{
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
}
.feedbackArea{
  width: 90%;
  text-align: center;
}
.feedbackArea textarea{
  margin-top: 40px;
  height: 30px;
  width: 65%;
  resize: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(198, 43, 226);
  background: transparent;
  font-family: "Outfit", sans-serif;
  color: white;
  outline: none;
}

.infoBtn{
  text-align: center;
  margin-top: 60px;
}
.infoBtn button{
  width: 150px;
  height: 50px;
  background-color: #00ffff;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  box-shadow: 1px 0px 8px 3px #00ffff98;
  font-size: 1rem;
}